@tailwind base;
@tailwind components;
@tailwind utilities;

.category-button-group {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.category-button-group::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers */
}
